<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap mp uap3">

  <Identity
    Name="23289137-0e7c-4d26-b3aa-f3688d548848"
    Publisher="CN=Mohsen"
    Version="0.2.4.0" />

  <mp:PhoneIdentity PhoneProductId="7594546f-e3d5-4687-9513-153a0e0e3c88" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>UnoTest</DisplayName>
    <PublisherDisplayName>UnoTest</PublisherDisplayName>
    <Logo>Assets\Tiles\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="UnoTest.exe"
      EntryPoint="UnoTest.App">
      <uap:VisualElements
        DisplayName="Pasat"
        Square150x150Logo="Assets\Tiles\Square150x150Logo.png"
        Square44x44Logo="Assets\Tiles\Square44x44Logo.png"
        Description="UnoTest"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Tiles\Wide310x150Logo.png" Square71x71Logo="Assets\Tiles\SmallTile.png" Square310x310Logo="Assets\Tiles\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\Tiles\SplashScreen.png"  BackgroundColor="black"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <uap:Capability Name="removableStorage"/>
  </Capabilities>
</Package>
